[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
databases = {extras = ["asyncpg"], version = "*"}
asyncpg = "*"
python-microservices-shared = {file = "../shared/dist/python_microservices_shared-0.0.1-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
