[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databases = {extras = ["asyncpg"], version = "*"}

[dev-packages]
ruff = "*"
setuptools = "*"
build = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
